/* layout */
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}

/* margins */
.ml-1 {
  margin-left: .5rem;
}
.mb-1 {
  margin-bottom: .5rem;
}

/* main content */
.dv-main {
  margin: 4rem 0 0 0;
  padding: .8rem;
}

