header {
  position: fixed;
  width: 100%;
  top: 0;
}

.dv-navbar {
  background-color: #eee;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;
}

.dv-navbar .dv-nav-items {
  font-size: .8rem;
}
.dv-navbar .dv-nav-items a {
  margin: 0 6px;
}
