.fm-todo textarea {
  width: 280px;
  height: 60px;
}
.fm-todo button[type="submit"] {
  align-self: flex-end;
  margin-top: .8rem;
}

.td-todo p {
  margin: 0.4rem 0;
  font-size: 0.9rem;
}
.td-todo .dv-actions {
  float: right;
  display: flex;
}
